* {
    /* outline: 1px dotted black; */
    margin: 0px auto;
    padding: 0px;
}

.wrapper {
    width: 950px;
    min-height: 600px;
    padding: 5px;
    background-color: beige;
}

#show {
    display: inline-block;
}

.left {
    margin: 10px 10px 0px 0px;
    padding: 10px;
    width: 660px;
    height: 450px;
    border: 5px solid lightblue;
    display: inline-block;
    overflow: auto;
    border-radius: 10px;
}

.right {
    margin-top: 10px;
    width: 265px;
    padding: 10px;
    min-height: 450px;
    border: 5px solid lightblue;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}

#usr-area {
    margin: 5px 5px 5px 0px;
    width: 940px;
    height: 60px;
    border: 5px solid lightblue;
    overflow: auto;
    border-radius: 10px;
}

#list {
    margin-bottom: 5px;
}