<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ninja Chatroom Battle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() {
            var socket = io(); //1
            var username = "";
            var pickTime = 0;
            $("#usr").keypress(function(e) {
                var key = e.which;
                if (key == 13) {
                    username = $('#usr').val();
                    if (username.length == 0) {
                        username = "Ninja-Anonymous";
                    }
                    socket.emit('usr_button', {
                        usr: username
                    }); // init sending
                }
            })

            $('#usrBtn').click(function() {
                username = $('#usr').val();
                if (username.length == 0) {
                        username = "Ninja-Anonymous";
                }
                socket.emit('usr_button', {
                    usr: username
                }); // init sending
            });


            $('#pickNinja').on("click", function() {
                // console.log(usr_list);

                socket.emit('find_button', {}); // init sending
                socket.on('send_list', function(data) {
                    // console.log(data.info); // list of updated ninjas
                    strSelect = "<select name='list' id='list'>"
                    for (var i = 0; i < data.info.length; i++) {
                        // console.log(data.info[i].usr);
                        strSelect += "<option value='" + data.info[i].usr + "'>" + data.info[i].usr + "</option>"
                    }
                    strSelect += "</select>";
                    if (pickTime === 0) {
                        $('#pickNinja').after(strSelect);
                        pickTime = 1;
                    }
                });

            });


            $('button#enter').click(function() {
                info = {
                    name: username,
                    skill: $("#skill").val(),
                    item: $("#item").val(),
                    comment: $("#comment").val(),
                    ninja: $("#list").val()
                }
                console.log(info);

                socket.emit('launch_button', {
                    msg: info
                }); // init sending

                // console.log($("#list").val());  // name in select list
                $('#list').remove();  // remove() method removes the selected element(s) and its child elements.
                $('#comment').val("");
                $('#skill').val("");
                $('#item').val("");
                pickTime = 0;
                $('#' + info.ninja).attr("class", "btn btn btn-info btn-md")
            });


            socket.on('created_usr', function(data) { // receiving 
                console.log("======>>", data.newUsr);
                $('#login').remove();
                $('.input-group').prepend("<button type='button' id='login' class='btn btn-info' style='width: 700; display: inline-block'>Logged in as " + data.newUsr.name + "</button>")
                $('.container').append("<button class='btn btn-success btn-md' style='margin:10px;' id='" + data.newUsr.name + "'>" + data.newUsr.name + "</button>");
                $('#usr').val("");                
                $('.left').append("<p>" + data.newUsr.name + " just quietly entered the chatroom .....................................</p>");
            });

            socket.on('updated_chat', function(data) { // receiving 
                console.log(data.msg);
                console.log("=== Log ===", data.log);
                var btmValue = $(document).height();
                // console.log("Bottom Value:", btmValue);

                if (data.msg != "") {
                    $('.left').append("<p style='color:blue;'>" + data.name + ' say: ' + data.msg + "</p>");
                    $(".left").scrollTop(btmValue);
                };
                if (data.result != "" && data.treat == true) {
                    $('.left').append("<p style='color:green;'>" + data.result + "</p>");
                    $(".left").scrollTop(btmValue);
                } 
                else
                {
                    $('.left').append("<p style='color:red;'>" + data.result + "</p>");
                    $(".left").scrollTop(btmValue);
                };
            });

            socket.on('turn_blue', function(data) {
                console.log(data.name);
                $('#' + data.name).attr("class", "btn btn btn-info btn-md")
            });

            socket.on('turn_yellow', function(data) {
                console.log(data.name);
                $('#' + data.name).attr("class", "btn btn btn-warning btn-md")
            });

            socket.on('turn_red', function(data) {
                console.log(data.name);
                $('#' + data.name).attr("class", "btn btn btn-danger btn-md")
            });

            socket.on('turn_grey', function(data) {
                console.log(data.name);
                $('#' + data.name).attr("class", "btn btn btn-dark btn-md")
            });


        })
    </script>
</head>

<body>
    <div class="wrapper">
        <div class="input-group">
            <div id="login" style="width: 700; display: inline-block"></div>
            <div style="width: 700; display: inline-block">
                <button type="button" id="usrBtn" style="margin-left: 10px; display: inline-block; margin-top: 5px; border-radius: 3px;">Start Here</button>
                <input type="text" id="usr" style="margin-left: 10px; display: inline-block;" placeholder="Input Username">
            </div>
        </div>

        <div class="container" id="usr-area">
        </div>

        <div>
            <div class="left">
            </div>

            <div class="right">
                <p>Ninja Skills:
                    <select name="skill" id="skill">
                        <option value="" selected></option>
                        <option value="punch">Punch</option>
                        <option value="kick">Kick</option>
                        <option value="jump">Jump</option>
                    </select>
                </p>
                <p>Backpack Items:
                    <select name="item" id="item">
                        <option value="" selected></option>
                        <option value="remedy">Remedy</option>
                        <option value="baloon">Baloon</option>
                        <option value="timer">Timer</option>
                    </select>
                </p>

                <p>Message(Optional:)</p>
                <textarea rows="5" cols="30" name="comment" id="comment"></textarea>
                <button id="pickNinja" style="margin-right: 5px">Pick Ninja</button>
                <button id="enter">Launch</button>
                <br>
                <br>
                <input type="file" class="form-control-file" id="pic">
                <br>
                <img src="/images/2cars.jpg" alt="cars" height="150" width="235">
                              

            </div>
        </div>

    </div>
</body>

</html>